<div class="row">
  <div class="col-md-5">
    <%= image_tag "placeholder.gif", width: 300, alt: "Profile Image" %>
  </div>
    
  <div class="col-md-7">
    <h1>About Me</h1>
    <hr>
    <p>I'm a 100% certified nerd who enjoys writing, studying theoretical astrophysics (and many other sciences), pondering life, the fundamental existence of all things, the universe as a whole, our place in it, (etc.) playing music, and programming. I also love helping people!</p>
    <p>My skill set includes Lua, C++, Ruby, Rails, and Java.<br>:)</p>
    <p></p>Pants are superior.</p>
    <%= link_to "My Blog", blogs_path, class: 'btn btn-primary' %>
    <%= link_to "My Portfolio", portfolios_path, class: 'btn btn-secondary' %>
  </div>
</div>