<h1>About me</h1>
<p>I enjoy writing, playing music, and programming. My skill set includes Lua, C++, Ruby, Rails, and Java. I also love helping people! <br> :)</p>
<%= link_to "My Blog", blogs_path, class: 'btn btn-primary' %>
<%= link_to "My Portfolio", portfolios_path, class: 'btn btn-secondary' %>