<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">"A cow is a biological machine invented by humans to turn grass into steak."<br>-Neil DeGrasse Tyson</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>